body {
  min-height: 750px;
}

.navbar-static-top {
  margin-bottom: 0px;
}

.navbar-default {
	background-color: #f12235!important;
	border-color: #3fa1f5;
}

.navbar-default .navbar-brand {
	color: #FFF;
}

.navbar-default .navbar-brand:hover {
	color: #3fa1f5;
}

.navbar-default .navbar-nav>li>a {
	color: #FFF;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #faffbd;
}

.navbar-default .navbar-toggle:hover {
	background-color: white;
}
