{% extends "base.html" %}

{% block content %}
<div class='row'>

<div class='col-sm-8'>
<h2><strong>{{ object.titulo }}</strong></h2>

{% if object.productoimg_set.count > 0 %}
<div>
	{% for img in object.productoimg_set.all %}
	<img class='img-responsive' src='{{ img.imagen.url }}' />
	{% endfor %}
</div>
{% endif %}

<p class='lead'>{{ object.descripcion }}</p>
</div>

<!-- Barra  Lateral  -->
<div class='col-sm-4'>
<h3>{{ object.precio }}</h3>

{% if object.caracteristica_set.count > 1 %}
<select class="form-control">
{% for car_obj in object.caracteristica_set.all %}
<option value="{{ car_obj.id }}">{{ car_obj }}</option>
{% endfor %}
</select>
{% endif %}
<br/>
<a href='#'>Añadir a la Cesta</a><br/><hr/>

<p>Compartir<br>
<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
<i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
</a>
<a href="#"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
</p>

<br/><hr/>
<h4>Productos Similares</h4>
</div>
<!-- End  Barra  Lateral  -->

</div>
{% endblock %}