{% extends "base.html" %}

<script>
  {% block jquery %}

  function estabPrecio(){
  	var precio = $(".caracteristica-select option:selected").attr("data-precio")
  	var precio_rebajas = $(".caracteristica-select option:selected").attr("data-precio-rebajas")
  	if (precio_rebajas != "" && precio_rebajas != "None" && precio_rebajas != null ) {
	$("#precio").html("<h3>" + precio_rebajas + " <small class='orig-precio'> " + precio + "</small></h3>");
	} else {
		$("#precio").html(precio);
	}
  }

  estabPrecio()

    $(".caracteristica-select").change(function(){
  	estabPrecio()
  })

  {% endblock %}
</script>

{% block content %}
<div class='row'>

<div class='col-sm-8'>
<h2><strong>{{ object.titulo }}</strong></h2>

{% if object.get_img_url %}
<div>
	<img class='img-responsive' src='{{ object.get_img_url }}' />
</div>
{% endif %}

<p class='lead'>{{ object.descripcion }}</p>
</div>

<!-- Barra  Lateral  -->
<div class='col-sm-4'>


{% if object.caracteristica_set.count > 1 %}
<h3 id="precio">{{ object.caracteristica_set.first.precio }}</h3>
<select class="form-control caracteristica-select">
{% for car_obj in object.caracteristica_set.all %}
<option data-precio-rebajas="{{ car_obj.precio_rebajas }}" data-precio="{{ car_obj.precio }}" value="{{ car_obj.id }}">{{ car_obj }}</option>
{% endfor %}
</select>
{% else %}

<h3 id="precio">{% if object.caracteristica_set.first.precio_rebajas %}
{{ object.caracteristica_set.first.precio_rebajas }}
<small class='orig-precio'>{{ object.caracteristica_set.first.precio }}</small>
{% else %}
{{ object.caracteristica_set.first.precio }}
{% endif %}
</h3>
 
{% endif %}
<br/>
<a href='#'>Añadir a la Cesta</a><br/><hr/>

<p>Compartir<br>
<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
<i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
</a>
<a href="#"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
</p>

<br/><hr/>
<h4>Productos Similares</h4>
<div class='row'>
{% for producto in similares %}
<div class='col-xs-6'>
 {% include "productos/producto_thumbnail.html" with producto=producto %}
<br/>

</div>
{% cycle '' '</div><div class="row">' %}
{% endfor %}
</div>
</div>
<!-- End  Barra  Lateral  -->

</div>
{% endblock %}