{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block head_title %}Bienvenidos | {{ block.super }}{% endblock %}

<style>
{% block style %}
.jumbotron {
  min-height: 450px;
  background-color: #333333 !important;
  color: #FFF;
  {% if destacado_img.hacer_img_fondo %}
  background-image: url("{{ destacado_img.imagen.url }}");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -75px;
  {% endif %}
  {% if destacado_img.texto_color_css %}
  color: #{{ destacado_img.text_css_color }};
  {% endif %}
}

/*.fa-5x {
  font-size: 6em !important;
}*/
{% endblock %}
</style>



{% block jumbotron %}

{% if destacado_img %}
<div class="jumbotron">
<div class="container">
<div class='row'>
  <div class='col-sm-12 {% if destacado_img.texto_right %} pull-right {% endif %}'>
        <h2><strong>{{ destacado_img.producto.titulo }}</strong></h2>
        <p>{{ destacado_img.texto }}</p>
        <p>
          <a class="btn btn-lg btn-default" href="{{ destacado_img.producto.get_absolute_url }}" role="button">Más Detalles</a>
        </p>
  </div>
  {% if not destacado_img.hacer_img_fondo %}
<div class='col-sm-6'><img src='{{ destacado_img.imagen.url }}' class='img-responsive' /></div>
{% endif %}
</div>
</div>
</div>


{% else %}
<div class="jumbotron">
<div class="container">
<div class='row'>
  <div class='col-sm-6'>
        <h2><strong>Ecommerce</strong></h2>
        <p>Crear una tienda online.</p>
        <p>
          <a class="btn btn-lg btn-default" href="../../components/#navbar" role="button">Únete &raquo;</a>
        </p>
  </div>
<div class='col-sm-6'><iframe width="560" height="315" src="https://www.youtube.com/embed/ChSvnSv_3aw" frameborder="0" allowfullscreen></iframe></div>
</div>
</div>
</div>
{% endif %}
{% endblock %}


{% block content %}

<div class='row'>
  <h3>Productos Recomendados</h3>
{% include "productos/productos.html" with object_list=productos col_class_set="col-sm-2" %}
</div>

<div class='row'>
  <h3>Productos Destacados</h3>
{% include "productos/productos.html" with object_list=productos %}
</div>

<!-- {% if not request.user.is_staff %}
<div class="row">
  <div class="col-sm-3 col-xs-12 pull-right">
    {% if not user.is_authenticated %}
    <p class='lead text-align-center'>Subscribirte</p>
		<form method="POST" action="">{% csrf_token %}
		{{ el_form|crispy }}
		<input class='btn btn-primary' type='submit' value='Confirmar' />
		</form>
    {% else %}
    <p class='lead text-align-center'>{{ titulo }}<br/><br/><span class="fa-stack fa-4x">
  <i class="fa fa-circle-thin fa-stack-2x"  style="color:#47b78c;"></i>
  <i class="fa fa-hand-peace-o fa-stack-1x"></i>
</span></p>
    {% endif %}
  </div>
<div class='col-sm-3'>
  <p class='lead text-align-center'>Django &amp; Bootstrap.<br/><br/><span class="fa-stack fa-4x">
  <i class="fa fa-circle-o-notch fa-stack-2x"></i>
  <i class="fa fa-bullhorn fa-stack-1x" style="color:#47b78c;"></i></p>
</div>
<div class='col-sm-3'>
  <p class='lead text-align-center'>Creado con mucho amor.</p><img src='{% static "img/obama_tacos.jpg" %}'/>
</div>
<div class='col-sm-3'>
  <p class='lead text-align-center'>Código abierto, siempre.<br/><br/><span class="fa-stack fa-4x">
  <i class="fa fa-circle-o-notch fa-spin fa-stack-2x"></i>
  <i class="fa fa-font-awesome fa-stack-1x" style="color:#47b78c;"></i>
</span></p>
</div>
</div>



<hr/>
{% endif %} -->
{% endblock %}

