body {
  min-height: 750px;
}

.navbar-static-top {
  margin-bottom: 0px;
}

.navbar-default {
	background-color: #e2203d !important;
	border-color: #32c3f1;
}

.navbar-default .navbar-brand {
	color: #FFF;
}

.navbar-default .navbar-brand:hover {
	color: #32c3f1;
}

.navbar-default .navbar-nav>li>a {
	color: #FFF;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #32c3f1;
}

.navbar-toggle {
	background-color: white
}

.navbar-default .navbar-toggle:hover {
	background-color: white;
}

.fa-shopping-basket {
	font-size: 20px;
    vertical-align: middle;
    margin-top: 14px;
}